<% if @user %>
    <h1>Welcome <%= @user.firstname %>!</h1>
    Your account has been succesfully created! You can now login using <%= @user.email %> and the password you specified!
<% else %>
    <h1>Unable to Create Account!</h1>
<% end %>
